.vagrant
venv
hosts.ini
galaxy/*
*secrets.ini
secrets*.yml

# Don't commit playbook by accident, always force them.
# This way you can manage private playbooks inside this repo
playbook*.yml

# Ansible retry files
*.retry